/* Our Fetures */
.section {
    margin-top: 50px;
}

/* Styles généraux pour le bouton */
.scrollIcon {
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 50px; 
    height: 50px; 
    background-color:transparent;
    color: #141752;
    border: none; 
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s, opacity 0.4s ease;
    z-index: 1000; 
    pointer-events: auto;
  }
  

  .scrollIcon:hover {
 /* Changement de couleur au survol */
    transform: scale(1.1); /* Légère augmentation de la taille au survol */
    transform: rotate(270deg);
  }
  
  /* Styles pour l'icône */
  .scrollIcon {
    font-size: 30px; /* Taille de l'icône */
    transform: rotate(270deg);
    background-color:#234ada;
    color: white;
    justify-content: center;
    display: flex; 
    align-items: center;
  }
  
  .scrollIcon.hidden {
    opacity: 0;
    transition: background-color 0.3s, transform 0.3s, opacity 0.4s ease;
    pointer-events: none;
  }

/* Languages button style */
.sub-menu img {
    width: 20px; /* Taille de l'image ajustée */
    height: 10px; /* Assurez-vous que la hauteur s'ajuste proportionnellement */
}
.sub-menu.inline-block {
    display: flex;
    align-items: center;
}

.sub-menu.inline-block button {
    background: none;
    border: none;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sub-menu.inline-block button img {
    margin-right: 5px;
    height: 20px;
}

.sub-menu.inline-block button:hover {
    text-decoration: underline;
}

/* Teams icons*/
.t_list_i a{
    color: #5d5d5d;
}

/* Projects style */

.filter-link {
    margin: 0 15px;
    text-decoration: none;
    color: #5d5d5d;
    transition: color 1s ease-in-out, text-decoration 1s ease-in-out;
}
.filter-link.active {
    text-decoration: underline;
}
.filter-link:hover {
    text-decoration: underline;
}